.fourthpagebox{
    height: 270px;
    width: 800px;
    position: relative;
    top: 100px;
    left: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    gap: 0px 0px;
}
.fourthpagebox>*{
    height: 90px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-align: center;

}
.fourthpagebox>.three{
    padding-left: 40px;
}
.fourthpagebox>.two{
    width: 100%;
}
.fourthpagebox>.four{
    font-size: 25px;
    text-align: start;
    font-weight: 500;
}

.card{
    position: absolute;
    top: 3650px;
    width: 1000px;
    left: 550px;
}
.leftdown{
    position: absolute;
    width: 1000px;
    top: 3250px;
    z-index: 20;
}
.leftup{
    position: absolute;
    top: 3270px;
    width: 1000px;
    z-index: 19;
    left: -70px;
}
.airpod{
    position: absolute;
    top: 4000px;
    width: 650px;
    left: 50px;
}
